<%= render 'node_selector', node: @topic.node %>

<%= simple_form_for @topic, remote: true, html: { class: "form topic-form", tb: 'edit-topic' } do |f| %>
  <%= render "shared/error_messages", target: @topic %>
  <%= f.hidden_field :node_id %>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" id="node-selector-button"
                data-toggle="modal" data-target="#node-selector"><%= @topic.node&.name || '选择节点...' %></button>
      </div>
      <%= f.text_field :title, class: "form-control", placeholder: "在这里填写标题" %>
    </div>
  </div>

  <div class="row" style="height: 100px;border-color: #CFCFCF; border-width: 1px; border-style: solid; margin-bottom: 10px;margin-left: 1px;margin-right: 1px;">
    <div class="col-md-2 col-xs-2" style="position: relative; padding-left: 0px;">
      <%= f.hidden_field :cover %>
      <div id="cover-preview">
        <img class="needsclick dz-clickable topic-cover-dropzone" style="width: 99px; height: 99px; border-style: none;" src="<%= @topic.cover %>" />
        <h5 style="
        position: absolute;
        top: 40;
        left: 40;
        height: 20px;
        line-height: 20px;
        width: 30px;
        text-align: center;">封面</h5>
      </div>
    </div>  

    <div class="col-xs-10 col-md-10" style="position: relative;">
      <%= f.hidden_field :source %>
       <input class="file-input" type="file" id="select2" style="position: absolute; z-index: 1; width: 100px; height: 100px; background-color: red;"></input>
      <audio src="<%=  @topic.source %>" controls="controls" style="left: 120px; position: absolute; top: 40px;">
        Your browser does not support the audio element.
      </audio>
    </div>

  </div>


  <%= render "/shared/editor_toolbar" %>
  <div class="form-group">
    <%= f.text_area :body, class: "topic-editor form-control closewarning", rows: 20 %>
  </div>

  <% if Setting.has_module?(:team) %>
    <% if current_user.team_collection.any? %>
    <div class='form-group'>
      <%= f.input :team_id, collection: current_user.team_collection, include_blank: '不要关联组织' %>
    </div>
    <% end %>
  <% end %>

  <div class="form-group hide-ios">
    <%= f.submit t("common.save"), class: "btn btn-primary col-xs-2", 'data-disable-with' => t("common.saving"), 'data-tb' => "save-topic" %>

    <div class="pull-right hide-ios"><a href="/markdown" target="_blank"><i class="fa fa-tip"></i> 排版说明</a></div>
  </div>
<% end %>

